[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "==1.5.1"
attrs = "==22.1.0"
backoff = "==1.10.0"
boto3 = "==1.23.10"
botocore = "==1.26.10"
certifi = ">=2024.7.4"
cffi = "==1.15.1"
charset-normalizer = "==2.1.1"
ciso8601 = "==2.2.0"
cryptography = "==44.0.3"
filelock = "==3.8.2"
idna = "==3.7"
importlib-metadata = "==5.1.0"
inflection = "==0.5.1"
jmespath = "==1.0.1"
joblib = "==1.2.0"
jsonschema = "==3.2.0"
numpy = "==1.24.4"
oscrypto = "==1.3.0"
pandas = "==1.3.5"
pipelinewise-singer-python = "==1.3.0"
pycparser = "==2.21"
pycryptodomex = "==3.19.1"
pyjwt = "==2.6.0"
pyopenssl = "==22.0.0"
pyrsistent = "==0.19.2"
python-dateutil = "==2.8.2"
pytz = "==2020.5"
requests = "==2.32.4"
s3transfer = "==0.5.2"
simplejson = "==3.17.2"
six = "==1.16.0"
snowflake-connector-python = "==3.13.1"
typing-extensions = "==4.4.0"
urllib3 = "==1.26.20"
zipp = "==3.19.1"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
toml = "*"
tesults = "*"
pytest-tesults = "*"

[requires]
python_version = ">=3.8,<3.9.0"

