EXPORT_SNOWFLAKE_ACCOUNT=<snowflake-account-name>
EXPORT_SNOWFLAKE_DBNAME=<snowflake-database-name>
EXPORT_SNOWFLAKE_USER=<snowflake-user>
EXPORT_SNOWFLAKE_PASSWORD=<snowfale-password>
EXPORT_SNOWFLAKE_WAREHOUSE=<snowflake-warehouse>
EXPORT_SNOWFLAKE_SCHEMA=<snowflake-schema>
EXPORT_SNOWFLAKE_AWS_ACCESS_KEY=<aws-access-key-id>
EXPORT_SNOWFLAKE_AWS_SECRET_ACCESS_KEY=<aws-access-secret-access-key>
EXPORT_SNOWFLAKE_S3_ACL=<s3-export-acl>
EXPORT_SNOWFLAKE_S3_BUCKET=<s3-external-bucket>
EXPORT_SNOWFLAKE_S3_KEY_PREFIX=<bucket-directory>
EXPORT_SNOWFLAKE_STAGE=<stage-object-with-schema-name>
EXPORT_SNOWFLAKE_FILE_FORMAT_CSV=<file-format-csv-object-with-schema-name>
EXPORT_SNOWFLAKE_FILE_FORMAT_PARQUET=<file-format-parquet-object-with-schema-name>
CLIENT_SIDE_ENCRYPTION_MASTER_KEY=<client_side_encryption_master_key>
